.buttons-container{
    display: flex;
    flex-direction: column;
}
.leftBar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 10px;
}
.leftBar-button{
    color: black;
    border-radius: 50px;
    justify-content: flex-start;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
.leftBar-button > p{
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    text-transform:none;
}
.leftBar-button:last-child{
    color: white;
    justify-content: center;
    height: 50px;
    width: 250px;
}

.leftBar-profile{
    height: 65px;
    width: 250px;
    margin-bottom: 80px;
    margin-top: 50px;
    border-radius: 50px;
    color: black;
    min-width: 10px;

}
.leftBar-profile >img{
    height: 45px;
    width: 45px;
    border-radius: 50px;
}
.leftBar-username{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    height: 65px;
    width: 250px;
}
.leftBar-username > p {
    margin: 0px;
    padding: 0px;
    text-transform:none;
}
@media screen and (max-width: 1280px){
    .leftBar-button > p{
        display: none;
    }
    .leftBar-button{
        color: black;
        border-radius: 50px;
        justify-content: flex-start;
        font-size: 16px;
        margin-top: 10px;
        min-width: 40px;
        width: 45px;
    }
    .leftBar-button:last-child{
        color: white;
        justify-content: center;
        height: 50px;
        min-width: 40px;
        width: 50px;
    }
    .leftBar-username{
        display: none;
    }
    .leftBar-profile{
        min-width: 10px;
        height: 65px;
        width: 65px;
    }
    .leftBar-profile > div{
        display: none;
    }

}